# Exclude files that shouldn't be included
do.sh
pcsx.json
memcard1.mcd
memcard2.mcd
license*.dat
mips/psyq/

# Exclude executable files
*.cue
*.elf
*.bin
*.map
*.ps-exe
*.exe
tools/funkinisopak/funkinisopak
tools/funkinarcpak/funkinarcpak
tools/funkinchartpak/funkinchartpak
tools/funkinpicopak/funkinpicopak
tools/funkintimconv/funkintimconv
tools/psxavenc/psxavenc
tools/xainterleave/xainterleave

# Exclude object and link files
obj/
bin/
!bin/index.html
!bin/README.txt
*.o
*.dep

# Exclude CMake build directory
build/

# Exclude converted assets
iso/*/*.tim
iso/*/*.arc
iso/*/*.xa
iso/*/*.cht

# Big Chungus
