# Exclude files that shouldn't be included
do.sh
pcsx.json
memcard1.mcd
memcard2.mcd
license*.dat
mips/psyq/

# Exclude executable files
funkin.cue
funkin.elf
funkin.bin
funkin.map
funkin.ps-exe

# Exclude object and link files
*.o
*.dep

# Exclude tool data and executables
tools/funkinchartpak/*.json
tools/funkinchartpak/*.cht
tools/funkinchartpak/funkinchartpak.exe
tools/funkinchartpak/funkinchartpak.elf
tools/funkinchartpak/funkinchartpak

tools/funkinarcpak/funkinarcpak.exe
tools/funkinarcpak/funkinarcpak.elf
tools/funkinarcpak/funkinarcpak

# Big Chungus
