# Exclude files that shouldn't be included
do.sh
pcsx.json
memcard1.mcd
memcard2.mcd
license*.dat
mips/psyq/

# Exclude executable files
*.cue
*.elf
*.bin
*.map
*.ps-exe
*.exe

# Exclude object and link files
obj/
bin/
*.o
*.dep

# Exclude CMake build directory
build/

# Exclude converted assets
*.tim
*.arc
